body {
    

    /* background-image: url('Tecsidel\ Imagens/road-2683741.jpg');  */
    background-image: url('Tecsidel\ Imagens/road-2683741.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    background-size: cover;
}

.dark-mode {
    background-image: url('Tecsidel\ Imagens/milky-way-2948284.jpg'); /* Substitua 'caminho_para_sua_imagem.jpg' pelo caminho real do seu arquivo de imagem */
    background-size: cover;  /* Cobrir toda a área disponível */
    background-position: center;  /* Centralizar imagem no fundo */
    background-repeat: no-repeat;  /* Não repetir a imagem */
    height: vh;
    
}



.buttons .solution-item .icon .btn:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    opacity: 01;
    
}
header {
    background-color: #2f2b2bbd;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    filter: opacity(70%);
}

h1, h2 {
    margin: 0;
    
}

section {
    padding: 20px;
}

footer {


    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    filter: opacity(70%);
    
}


/* Estilo para centralizar os botões */
/* Ajustes adicionais para garantir que a área de botões fique centrada corretamente */


@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&amp;display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 90%;
    height: 80px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}.header h1 {
    font-size: 30px
}

.header ul {
    list-style: none;
    display: flex
}
.header li {
    margin: 0 10px;
}
.header a {
    color: var(--color-dark);
    font-size: 15px;
    font-weight: 700;
}


.hero h4 {
    color: #999;
    font-size: 4vmin;
    background-color: #254668;
}
.solutions {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}
.solution-item {
    width: 22%;
    border: 1px dotted var(--color-blue);
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    background-color:rgba (255, 255, 255, 0.1);
    box-shadow: 10 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(2px)
    
}
.solution-item h3 {
    font-size: 22px;
    font-weight: 900;}
.solution-item p {
    font-size: 15px;
    margin-bottom: 30px;
}
.btn :hover{
    padding: 5px 30px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    font-weight: 900;
    border-radius: 5px;
    opacity: 50%;
}
/* aqui começa a parte responsiva */
@media(max-width:1250px) {
    .solution-item {
        width: 48%;
        justify-content: space-evenly;
        margin: 20px 0;
    }
}
@media(max-width:900px) {
    .header {
        justify-content: space-evenly;
    }
    .hero {
        margin-top: 20px;
    }
    .solution-item {
        width: 90%;
    }
}
